<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="maven.logging.root.level">ALL</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue} [%t] %style{%c{1.}}{cyan} - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <loggers>
        <root level="${sys:maven.logging.root.level}">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</Configuration>
